@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes slide {
    0% { transform: translateX(0); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0); }
  }
  
  .animate-slide {
    animation: slide 12s infinite;
  }
  